[alias]
    s = status
    sn = status --untracked-files=no
    c = commit
    cv = commit --verbose
    lg = log --compact-summary --graph
    gp = grep --untracked --perl-regexp --line-number --heading
    branches = branch --sort=-committerdate
    mine = log --all --author 'Harry White'
    sum = diff --compact-summary
    howmany = rev-list --count HEAD

[branch]
    autoSetupMerge = false

[commit]
    verbose = true

[pull]
    ff = only

[include]
    path = ~/.gitname

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
