[alias]
    s = status
    cv = commit -v
    lg = log --compact-summary --graph
    gp = grep --untracked --perl-regexp --line-number --column
    branches = branch --sort=-committerdate
    mine = log --all --author 'Harry White'
    sum = diff --compact-summary

[branch]
    autoSetupMerge = false

[include]
    path = ~/.gitname

[credential]
    helper = netrc -f ~/.netrc.gpg

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
