[alias]
    s = status
    branches = branch --sort=-committerdate
    glog = log --stat --graph
    mine = log --all --author 'Harry White'
    stat = diff --stat
    cnt = checkout --no-track

[branch]
    autoSetupMerge = false
